.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #989898;
  height: 150px;
  padding: 20px;
  color: #1E90FF;
  font-size: 34px;
  text-align: left;
  text-decoration: underline;
  margin-right: 50px;
  user-select: none;
  cursor: default;
}

h2 {
  display: inline;
  padding-right: 40px;
  user-select: none;
  cursor: default;
}

.App-intro {
  font-size: large;
}

body {
  background-color: #989898; 
  font-family: 'Ubuntu';
}

.post {
  width: 400px;
  word-wrap: break-word;
  border: 2px double grey;
  border-radius: 6px;
  padding: 10px 20px 10px 10px;
  margin: 5px 0 5px 0;
  background-color: #D0D0D0;
  color: #1E90FF;
}


.message-list {
  float: left;
  text-align: left;
  padding: 40px 0 60px 60px;
  width: 54%;
}

.user {
  text-decoration: underline;
  font-size: 14px;
  margin-bottom: 8px;
  color: #0074D9;
}

.message {
  font-size: 16px;
}

.create-post {
  text-align: left;
  padding: 30px 60px 60px 0;
  width: 28%;
  float: right;
}

.txt {
  display: block;
  background-color: #D0D0D0;
  color: #1E90FF;
  height: 100px;
  width: 260px;
  border-radius: 8px;
  border: 0.5px solid grey;
  font-size: 14px;
  padding: 10px 0 0 10px;
}

.button {
  margin-top: 30px;
  margin-left: 33px;
  border: 2px outset grey;
  border-radius: 3px;
  padding: 5px 5px 3px 10px;
  width: 180px;
  text-align: center;
  background-color: #D0D0D0;
  color: #1E90FF;
  user-select: none;
}

.button:active {
  margin-top: 30px;
  border: 2px inset #D0D0D0;
  border-radius: 3px;
  padding: 5px 5px 3px 5px;
  width: 180px;
  text-align: center;
  background-color: grey;
  color: #1E90FF;
  text-decoration: underline;
}

.container {
  width: 860px;
  position: absolute;
  top: 160px;
  left: 20%;
  background: white;
  border-radius: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


